body
{
    font-family: 'Times New Roman', Arial, serif;
    background-color: orange;
    color: red;
    font-weight: bolder;
    height: 100vh;
    display: flex;
    justify-content:center;
    text-align:center;
    align-items: center;
}
img
{
    width: 80px;
    height: auto;
    z-index: 1;
    margin-top:25px;
}

.pepperoni
{
    width:130px;
    position: absolute;
    margin-top: 20px;
    height: 130px;
    background-color: red;
    border-radius: 80%;
}

.top { top: 0; left: 50%; transform: translateX(-50%); }
.bottom { bottom: 0; left: 50%; transform: translateX(-50%);margin-bottom: 20px; }
.left { top: 50%; left: 0; transform: translateY(-50%);margin-left: 20px; }
.right { top: 50%; right: 0; transform: translateY(-50%);margin-right: 20px; }